 <h1 class="skr" appChangecolor>Angular 12 : Helpline</h1> <br>
 <h1 class="skr">Angular 12 : Helpline</h1> <br>
<app-test (childInfo)="msg=$event" [fromParent]="parentMsg"></app-test>
<h1>{{msg}}</h1>
<h1>Hello Every-One We Are Always With You Here By Presenting Application Of Angular</h1>
<!-- <app-parent></app-parent> -->
<!-- <app-testing></app-testing> -->
<!-- <app-promise></app-promise> -->
<!-- <app-observable></app-observable> -->
<!-- <app-subject-behaviour></app-subject-behaviour> -->
<!-- <app-student-list></app-student-list> -->
<!-- <app-student-details></app-student-details> -->
<!-- <nav>
  <a routerLink="student" routerLinkActive="active">Student Lists</a>
  <a routerLink="course-list" routerLinkActive="active">Course Lists</a>
</nav> -->
<!-- <div class="my-background">
  <h1>SKR helpline - Angular Forms: Reactive (Model Driven) Forms</h1>
</div> -->
<!-- <app-tdf></app-tdf> -->
<!-- <app-reactive-forms></app-reactive-forms> -->
<router-outlet></router-outlet>
<!-- <app-header></app-header>
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <app-sidebar></app-sidebar>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
<app-footer></app-footer> -->
<!-- <marquee style="color: red; border: 10px; background-color: aqua;" direction="right">hello</marquee> -->