.tdf{ color: red; text-align: center; font-family: play; font-size: 50px; 
    margin-top: 10px; }
.span{background-color: aquamarine;}
.tdf1{color: blue; text-decoration: underline; text-align: center; font-weight: bold;}
.myFormData{ color: brown; font-size: 20px; font-weight: bold; text-align: center; }